.headContainer {
  width: 80%;
  margin: auto;
}
.navBar {
  min-height: 10vh;
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
}

.logo h1 {
  color: #335eea;
}
.pages {
  width: 35%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.pages p {
  color: #5c7198;
}

.btn button {
  padding: 10px 20px;
  background-color: #335eea;
  border: none;
  border-radius: 6px;
  color: white;
}

@media screen and (max-width: 1024px) {
  .navBar {
    flex-direction: column;
  }
  .pages {
    width: 50%;
    display: flex;
    flex-direction: column;
  }
}
@media screen and (max-width: 460px) {
  .pages {
    width: 50%;
  }
  .btn {
    display: none;
  }
}
